
img, .avatar {
    width: 50px;
}
.logo {
    display: inline-block;
}

.connexionBlock {
    position:absolute;
    top: 8px;
    right: 8px;
}
.dropdown {
    position: fixed;
    top: 8px;
    left: 8px;
}
.navbar-log {
    display: flex;
    justify-content: space-between;
    margin: 8px;
    height: 80px;
}

.main__title {
    font-size: medium;
    text-align: center;
    margin: 8px;
}

.category {
    width: 80%;
    height: 200px;
    /* border: 2px solid gray; */
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    margin-top: 16px;
    height: 100px;
}
.logos {
    margin: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    color: rgb(255, 255, 255, 0.2);
    text-transform: uppercase;
    font-weight: bold;
    filter: brightness(1.5);
}

.activities {
    background-image: url('images/velo-natation-randonnee-quel-sport-ete-choisir-pour-bruler-plus-calories.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.shopping {
    background-image: url('images/healthymood-30-aliments-healthy-pour-vos-plats-d-ete.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.remembers {
    background-image: url('images/vignette-focus.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.tribe {
    background-image: url('images/post_image_100.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    color: white;
}

