.connection {
  margin: 40px;
  text-align: center;
  width: 80%;
  margin:  auto;
  height: 500px;
  &__title {
    margin: 30px auto;
    font-family: 'Bangers', cursive;
    font-size: 2rem;
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0px auto;
    @media screen and (min-width:1024px) {
      width: 30%;
    }
  }
  &__button {
    font-size: 0.9em;
    margin:  16px 0;
    padding: 8px;
  }
}


