// main {
//   background: linear-gradient(220deg, rgb(41, 243, 41), rgb(255, 55, 19));
//   width: 100%;
// }
.main__title {
  font-size: larger;
  text-align: center;
  padding: 8px;
}
.category {
  width: 80%;
  height: 200px;
  /* border: 2px solid gray; */
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-title {
  font-size: larger;
  color: white;
}
.activities {
  background-image: url('../../assets/images/velo-natation-randonnee-quel-sport-ete-choisir-pour-bruler-plus-calories.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.shopping {
  background-image: url('../../assets/images/20-aliments-pour-un-ete-en-pleine-forme.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.remembers {
  background-image: url('../../assets/images/vignette-focus.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.tribe {
  background-image: url('../../assets/images/post_image_100.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}


.card-img-top {
  height: 200px;
}

